pre {
    white-space: pre-wrap; /* Allows the text to wrap to a new line */
    word-wrap: break-word; /* Breaks long words to fit within the width of the container */
    overflow-x: auto; /* Adds horizontal scrolling when needed */
    max-width: 100%; /* Ensures the container does not exceed the width of its parent */
  }

.episodeDetails{
  background-color: var(--bgColor);
  width: 90%;
  margin: auto;

}


.episodeDetails .original-episode{
  display: flex;
  gap: 30px;
  position: relative;
 
}

.episodeDetails .tableContent{
  max-width: 350px;
  margin-top: 20px;
  background-color: var(--bgColor2);
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  position: sticky;
  height: 90vh;
  top: 30px;
  overflow: auto;
}

.episodeDetails .rightSection{
  width: 70%;
}

.episodeDetails .tableContent .text:hover{
  color: var(--textColor2)
}

.episodeDetails .person{
  display: flex;
  align-items: center;
  gap: 15px;
}
.episodeDetails .person img{
  width: 50px
}
.episodeDetails  .times{
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.episodeDetails .title{
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
}

.episodeDetails .playerBtn{
  width: 120px;
  cursor: pointer;
}
.episodeDetails .listen-section{
  display: flex;
  gap: 20px;
  align-items: center;
}
.episodeDetails .listen-section .reader{
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: var(--bgColor2);
  padding: 8px 15px;
  border-radius: 7px;
}

.episodeDetails .insight, .episodeDetails .descrip{
  padding: 5px 10px;
  border-radius: 5px;
}
.episodeDetails .insight:hover, .episodeDetails .descrip:hover{
  background-color: var(--bgColor2);
  padding-bottom: 15px;
}
.episodeDetails .insight:hover small,.episodeDetails .descrip:hover small{
  color: var(--textColor2);
}

/* .episodeDetails .readmore, .episodeDetails .summary {
  float: right;
  margin-top: 7px
} */

