:root{
  --bgColor: #1E1E1E;
  --bgColor2: #2c2b2b;
  --textColor: #f0eeee;
  --textColor2: #FFF200;
  --primaryGradient: linear-gradient(110deg, #04756f, #013532f5);
  --secondaryGradient: linear-gradient(to left, #03524e, #013532);
  --primary-font: 'Poppins', sans-serif;
}
 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  font-family: var(--primary-font);
  color: var(--textColor);
 
 }
p, h1,h2,h3,h4,h5,h6{
  margin-bottom: 0!important;
}
 .app{
  box-sizing: border-box;
}

input[type=text]{
  border-radius: 30px;
  padding: 5px 10px;
}
input[type=text]::placeholder{
 color: var(--secondaryColor);
 font-size: 14px;
}

input[type=text]:focus{
  outline: none;
  border: 1px solid var(--primary-color);
}
button{
  background: var(--textColor2);
  padding: 4px 10px;
  color: var(--bgColor2);
  border-radius: 5px !important;
  font-size: 14px!important;
}


a{
  text-decoration: none!important;
  color: white !important;
}




.Toastify__toast{
  min-height: 0;
}
.Toastify__progress-bar--success{
  background-color: var(--primary-color);
}
.Toastify__toast svg{
  fill: rgb(23, 210, 235)
}